body {
    font-family: sans-serif;
    font-size: small;
    font-weight: normal;
}

input {
    background: transparent;
}

x-info {
    display: flex;
    flex-direction: column;
}

x-entry {
    background-color: #fff;
    display: block;
    grid-column: 1/4;
    padding: 5px;
    margin-bottom: 5px;
    outline: 1px solid;
}

x-inline-entry {
    background-color: #ffe;
    border: 1px dashed;    
    display: block;
    grid-column: 2/4;
}

x-name {
    display: block;
    margin-bottom: 10px;
}

x-path {
    background-color: #ddd;
    margin-bottom: 8px;
    width: 100%;
    display: block;
}

x-inline-path {
    background-color: chocolate;
}

x-portrait {
    display: block;
}

x-icon {
    display: block;
}

x-skill x-entry {
    flex-direction: row;
    flex-flow: row;
}
x-skill x-entry x-info {
    margin-left: 10px;
}

x-item x-entry {
    flex-direction: row;
    flex-flow: row;
}
x-item x-entry x-info {
    margin-left: 10px;
}

x-upgrade x-entry {
    flex-direction: row;
    flex-flow: row;
}

x-state-locked {
    background-color: aquamarine;
    border: 1px dashed;
    margin-left: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

x-pointer {
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    /* border: 1px dashed; */
    grid-column: 2/4;
}

x-pointer-buttons {
    text-decoration: none;
}

x-pointer-buttons input {
    display: inline;
    width: unset;
}

td.value {
    width: 100%
}

.invalid-pointer {
    color: #f00;    
}

.pointer-text {
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

x-properties .no-value {
    color: #888;
}

.click-to-add {
    cursor: pointer;
}

.click-to-add:hover {
    color: #040;
    text-decoration: underline;
    text-decoration-color: #000;
}

.click-to-expand {
    cursor: pointer;
    color: #003;    
}

.click-to-expand:hover {
    color: #040;
    text-decoration: underline;
    text-decoration-color: #000;
}

input[type="checkbox"] {
    margin-left: 0px;
    padding-left: 0px;
}

.collapsed {
    display: none;
}

.block-editor {
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 6px;
}

/*
 columns
 1=index 2=name 3=value 4=controls
         [                       ]
*/

x-properties {
    display: grid;
    grid-auto-columns: min-content min-content auto min-content;
}

x-array {
    display: grid;
    grid-column: 2/4;
    grid-auto-columns: min-content min-content auto min-content;
    border: 1px dashed;
    border-color: #555;
    border-radius: 8px;
    padding: 6px;
}

x-prop-index {
    grid-column: 1;
    padding-right: 5px;
}

x-array-controls {
    text-align: right;
    white-space: nowrap;
    grid-column: 4;
}

x-array-inline-controls {
    text-align: right;
    white-space: nowrap;
    width: 100%;
}

x-array-bottom-controls {
    grid-column: 1/5;
}

x-property {
    margin: 1px;
    display: block;
}

.placeholder {
    background-color: #eee;
    color: #ddd;
}

.shared {
    font-style: normal;
    background-color: #dfd;
    color: black;
}

.nullptr {
    color: red;
}

x-prop-name {
    cursor: pointer;
    display: block;
    padding-right: 10px;
    margin-top: 2px;
    grid-column: 2;
}

x-prop-value {
    display: block;
    grid-column: 3;
    margin-bottom: 3px;
    overflow: hidden;
}

x-prop-value.array-element {
    grid-column: 2/4;
}

x-prop-value.preview {
    margin-top: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
}

x-pointer.array-element {
    grid-column: 2/5;
}

x-prop-value input {
    width: 98%;
}
x-prop-value input[type="checkbox"] {
    width: unset;
}

x-prop-value x-array-inline-controls input {
    margin-left: 20px;
    width: unset;
}

x-prop-value textarea {
    width: 98%;
}

x-browser {
    display: block;
}

x-browser-file {
    display: block;
    grid-column: 1/4;
    padding: 5px;    
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid;
    background-color: #eef;
}

x-browser-objlist {
    display: grid;
    grid-auto-columns: max-content max-content auto;
}

x-browser-path {
    grid-column: 1;
    color: #330;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 10px;    
}

x-browser-controls {
    grid-column: 1/4;
    margin-top: 4px;
    margin-left: 20px;
}

x-browser-preview {
    grid-column: 3;
    margin-left: 10px;
    color: #030;
}

x-browser-type {
    margin-left: 20px;
    grid-column: 2;
}

x-all {
    display: grid;
}

x-tabs {
    grid-row: 1;
    grid-column: 1/-1;
    background-color: #eee;
    padding: 5px;
    padding-bottom: 5px;
}

x-tab {
    background-color: #eee;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid;        
    cursor: pointer;
    padding: 2px;        
}

x-tab.active {
    background-color: #fff;
    font-weight: bold;
}

x-tab-label {

}

x-tab-close {
    margin-left: 10px;
}

x-page {
    grid-row: 2;
    grid-column: 1;
    margin: 4px;
}
