body {
    font-family: sans-serif;
    //'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    font-weight: normal;
}

input {
    background: transparent;
}

x-info {
    display: flex;
    flex-direction: column;
}

x-entry {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    outline: 1px solid;
}

x-inline-entry {
    padding: 3px;
    margin: 7px;
    background-color: #eef;
    display: block;
    grid-column: 1/3;
    outline: 1px dashed lightgray;
}

x-name {
    display: block;
    margin-bottom: 10px;
}

x-path {
    background-color: bisque;
    margin-bottom: 8px;
}

x-inline-path {
    background-color: chocolate;
}

x-portrait {
    display: block;
}

x-icon {
    display: block;
}

x-skill x-entry {
    flex-direction: row;
    flex-flow: row;
}
x-skill x-entry x-info {
    margin-left: 10px;
}

x-item x-entry {
    flex-direction: row;
    flex-flow: row;
}
x-item x-entry x-info {
    margin-left: 10px;
}

x-upgrade x-entry {
    flex-direction: row;
    flex-flow: row;
}

x-state-locked {
    background-color: aquamarine;
    border: 1px dashed;
    margin-left: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

x-pointer {
    display: block;
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px dashed; 
}

x-pointer-buttons {
    text-decoration: none;
}

x-pointer-buttons input {
    display: inline;
    width: unset;
}

td.value {
    width: 100%
}

.invalid-pointer {
    color: #f00;    
}

.pointer-text {
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

x-properties .no-value {
    color: #888;
}

.click-to-add {
    cursor: pointer;
}

.click-to-add:hover {
    color: #040;
    text-decoration: underline;
    text-decoration-color: #000;
}

.click-to-change {
    cursor: pointer;
}

.click-to-change:hover {
    color: #040;
    text-decoration: underline;
    text-decoration-color: #000;
}

x-properties {
    display: grid;
    grid-auto-columns: max-content auto;
}

x-array {
    display: grid;
    border: 1px dashed;
    padding: 5px;
    margin: 5px;
    background-color: #ffe;
    padding-left: 10px;
    grid-column: 1/3;
    grid-auto-columns: min-content auto max-content;
}

x-array-index {
    grid-column: 1;
    padding-right: 5px;
}

x-array-value {
    grid-column: 2;
}

x-array-controls {
    grid-column: 3;
}

x-array-bottom-controls {
    grid-column: 1/4;
}

x-property {
    margin: 1px;
    display: block;
}

.placeholder {
    background-color: #eee;
    color: #ddd;
}

/*
x-property:nth-child(even) {
}
*/

x-prop-name {
    display: block;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;    
}

x-prop-value {
    display: block;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;    
    margin-bottom: 3px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

x-prop-value input {
    width: 95%;
}
x-pointer-buttons input {
    width: unset;
}

x-prop-value textarea {
    width: 95%;
}
